<div class="jumbotron center">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>
<span> Hi, please login <%= link_to "here", "#", class: "btn btn-default" %></span>
</p>
<p> or you can
<%= link_to "sing up", "#", class: "btn btn-primary" %>
</p> 

</div>

